#grupo{
    width: 700px;
    margin: 2% auto;
}

.introduccion h2{
    display: block;
    margin: auto 20%;
}
.introduccion img{
    width: 50%;
    height: auto;
}
.info{
    padding: 0 10%;
}
.habilidades ul{
    padding: 0 5%;
}
.trabajos ul{
    align-content: center;
    height: 80%;
}
.trabajos button{
    min-width: 175px;
    height: 35%;
    margin: 8px;
}
#grupo.habilidades, #grupo.trabajos{
    margin: 2% 2%;
    width: 450px;
    height: 350px;
    display: inline-flex;
    transform: translate(40%,0);
}
#grupo.programas{
    background-color: rgba(217, 217, 217, 0);
    width: 1300px;
    margin-top: 0px;
}
.programas h2{
    display: block;
    width: 1000px;
}
.progImg{
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 40px;
    padding: 30px 30px 30px 30px;
    max-width: 360px;
    margin: 2% 2%;
    display: inline-block;
}
.progImg h3{
    text-align: center;
}
.imagenes img{
    width: 140px;
    height: 140px;
}
.contacto h2{
    width: 400px;
}
.form {
    min-width: 600px;
    height: auto;
}
[type="submit"]{
    margin-left: 220px;
}
.group{    
    margin: 30px 10px;
}
.animatics h2, .animatics p{
    max-width: 560px;
}

.desc{
    display: inline-flex;
}
.concept p, .ilust p, .videojuegos p{
    max-width: 560px;
    border-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin:0;    
}

.concept h2, .ilust h2, .videojuegos h2{
    min-width: 560px;
    border-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin:0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conceptImages, .ilustImages{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.conceptImages img, .ilustImages img{
    min-width: 0;
    padding: 20px;
}

.grupoJuego{
    margin: 20px;
}
.grupoJuego p{
    border-radius: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.anims, .ilust, .concept, .videojuegos {
    margin: 2% 0
}

    