* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(68, 37, 91);
}

html {
    font-size: 100%;
    color: #f1f1f1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: block;
    min-height: 120px;
    border-radius: 6px;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgb(27, 3, 46);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

.textHead {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    font-size: 180%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h3 {
    font-size: inherit;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header picture {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    scale: 80%
}

.menu {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(44, 12, 70);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Cambiar color en hover */
.menu a:hover {
    color: #f1f1f1;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.body {
    transition: margin-left .5s;
    padding: 20px;
}

.contactMenu {
    position: absolute;
    display: block;
    padding: 8px 8px 8px 16px;
    transition: 0.3s;
    height: 20vh;
    top: 80vh;
    background-color: rgb(27, 3, 46);
}

.contactMenu h4 {
    font-size: 130%;
    padding: 0px 0px 8px 0px;
}

.contactMenu span {
    display: block;
    padding: 4px 8px 4px 8px;
}

#grupo {
    border-radius: 40px;
    background-color: rgba(217, 217, 217, 0.15);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 30px 30px;
    margin: 5% 0;
}

.introduccion img {
    height: 200px;
    display: block;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #DDD;
    border: 10px solid #cfd8dc;
}

#grupo h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
    text-align: center;
}

#grupo p {
    padding: 10px;
    padding-bottom: 0px;
    font-size: 120%;
}

.trabajos ul {
    justify-content: center;
}

.trabajos button {
    background-color: rgb(27, 3, 46);
    border: none;
    color: white;
    min-width: 130px;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1% 1%;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.trabajos button:hover {
    background-color: #ffffff;
    color: rgb(27, 3, 46);
}

.programas h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}

.imagenes {
    display: inline-block;
    text-align: center;
}

.imagenes img {
    padding: 5px;
}

.form {
    min-width: 300px;
    height: auto;

}

.formInput {

    padding: 5px;
    padding-left: 5px;
}

.formInput input {
    display: block;
    min-width: 250px;
    min-height: 40px;
    transition: all 0.3s;
    padding: 5px;
    margin-bottom: 6px;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.formInput .mensaje{
    min-height: 150px;
}

[type="submit"] {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 150px;
    background: #1B032E;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 70px;
}

[type="submit"]:hover {
    background-color: #ffffff;
    color: rgb(27, 3, 46);
}
.anims, .ilust, .concept{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 5% 0;
}
.anims iframe{
    max-width: 100%;
    height: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.secTitulo{
    background-color: rgba(217, 217, 217, 0.15);
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    min-width: 330px;
}

.anims h4{
    background-color: rgba(217, 217, 217, 0.15);
    text-align: center;
}

.secDesc{
    background-color: rgba(217, 217, 217, 0.437);
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.ilust img, .concept img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 40px;
    padding-bottom: 20px;
    object-fit: cover;
}

footer{
    display: block;
    min-height: 180px;
    border-radius: 6px;
    width: 100%;
    background-color: rgb(27, 3, 46);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    padding: 20px;
}

footer h1{
font-size: 150%;
padding: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}

footer p{
    padding: 5px;
    text-align: center;
}